:root{
    --color-green: #00B100;
    --color-red: #B20000;
    --color-yellow: #B2B000;
    --color-blue: #0000B2; 
    --font-color-popUp: #F0E8E1;
    --font-color-popUp-title: rgb(175, 205, 206);
}
